<h1>Employees</h1>

{% if user.is_staff %}
  <a href="{% url 'employee_create' %}">Add</a>
{% endif %}

<ul>
  {% for emp in employees %}
    <li>
      {{ emp.first_name }} {{ emp.last_name }} |
      {{ emp.department }} |
      ₹{{ emp.salary }}
    </li>
  {% if user.is_staff %}
    <a href="{% url 'employee_update' emp.id %}">Edit</a>
  {% endif %}
  {% if user.is_staff %}
    <a href="{% url 'employee_delete' emp.id %}">Delete</a>
  {% endif %}

  {% empty %}
    <li>No employees found.</li>
  {% endfor %}
</ul>
